@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.btn {
    @include btn(176px,42px, 3px, $primary-color);

    color : $white-color;
    font-size: 14px;
    font-weight: 300;
    // padding: 13px 45px;
    cursor: pointer;

    &:hover{
        background-color: transparent ;
        color: $primary-color;
        border: 1px solid $primary-color;
    }

}

.btn2 {
    //để làm tròn 1 khối div hay 1 button thì dùng border radius 50%
    @include btn(44px, 44px, 50%, #fff)

}
