// trong đây sẽ lưu tất cả biến về kích cỡ độ rộng độ dài màu sắc mà dùng chung cho dự án
// để tạo biến css dùng dấu $

$primary-color: #333;
$secondary-color: #888;
$third-color: #555;
$white-color: #fff;
$sub_color: #404040;
$four_color: #222;
